body {
    background-color: #c74444;
}
#sky {
    position: fixed;
    background-color: #362569;
    cursor: crosshair;
}
#hoverinfo_parent {
    position: fixed;
    background-color: bisque;
    color:black;
    height: 611.42px;
    width: 500px;
}
#hoverinfo {
    margin: 10px;
    position: relative;
    overflow: auto;
    color:    black;
}
.dataval {
    width: 200px;
    margin-right: 0px;
    margin-left: auto;
    text-align:right;
}
.datalabel {
    width: 200px;
}
.reasoncode {
   text-align:center;
}
.datacenter{
    width: 1px;
    max-width: 1px;
    background-color: black;
}
.cell {
    position: absolute;
    background: #052bff;
    width:10;
    height:10;
    border-radius: 5px;
}
.cell:hover {
    background: yellow;
}
.border {
    position: absolute;
    background:black;
}